<h2>News</h2>
<ul class="news_list news_archive">
  <% if @news.present? %>
    <% @news.each do |i|  %>
      <li>
        <span class="news_date"><%= i.created_at.strftime("%m月%d日") %></span><%= link_to(i.title, {:action => :show, :id => i.id}) %>
      </li>
    <% end %>
  <% else %>
    まだNewsはありません
  <% end %>
</ul>

