<h2><%= @news.title %></h2>
<p><%= auto_link(simple_format(@news.detail), :all, :target => '_blank') %></p>
<p class="news_update">
  <%= @news.created_at.strftime("%m月%d日") %> Update
</p>
<p><%= link_to("戻る", :back) %>
</p>

