<h2>ご購入に関するお問い合わせ完了</h2>
<p>
  ご購入に関するお問い合わせを承ったぞ！
  <br />
  3日以内に我輩から確認のメールを送らせて頂くいのでしばしお待ちをψ(｀∇川)ψ
  <br />
  万が一送られてこない場合はお手数だが
  <a href="mailto:from_vampire_rose@yahoo.co.jp">from_vampire_rose@yahoo.co.jp</a>
  <br />
  までクレームのメールをくだされ・゜・(ノД`)・゜・
</p>
