<!DOCTYPE html>
<html lang="ja">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <%= @user.name %>様からチケット予約です。<br>
  メールアドレス: <%= @user.email %><br>
  日程: <%= @user.date %><br>
  枚数: <%= @user.count %>枚
</body>
</html>
